* {
    font-size: 30px;
    font-family: Arial;
}

body {
    background-color: white;
}

.icon-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -30px;
}

.icon-contain svg {
    margin-right: 20px;
}

.notif,
.icon1 {
    text-align: left;
    background-color: yellow;
}

.box,
.icon2 {
    text-align: left;
    background-color: blue;
}

.ram,
.icon3 {
    text-align: left;
    background-color: pink;
}