* {
    font-size: 30px;
    font-family: Arial;
}

body {
    background-color: white;
}

.iconDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -30px;
}

.icon-contain svg {
    margin-right: 20px;
}

.notifOver {
    margin-left: 40px;
}

.notif,
.icon1 {
    text-align: left;
    background-color: #FFFF62;
}

.box,
.icon2 {
    text-align: left;
    background-color: #87CEEB;
}

.ram,
.icon3 {
    text-align: left;
    background-color: pink;
}

.icon1,
.icon2,
.icon3 {
    border-radius: 25px;

}

.box,
.notif,
.ram {
    border-radius: 5px;
}